<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareAtlas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
</head>
<body>
    <div class="row h-100">
      <div class="d-none d-sm-block"></div>
      <div class=" col my-1 mx-1 w-50 h-100 p-3 bg-primary d-flex flex-column justify-content-around align-items-center ">
        <div class=" mb-3 bg-primary text-light" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex flex-column justify-content-around align-items-center" >
              <i class="bi bi-hospital" style="font-size: 500%"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Welcome to <span class="h2">CareAtlas</span></h5>
                <p class="card-text">we understand the critical importance of efficient patient data management in the healthcare industry.</p>
              </div>
            </div>
          </div>
        </div>

        <div class=" mb-3 bg-primary text-light" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex flex-column justify-content-around align-items-center">
              <i class="bi bi-bandaid-fill" style="font-size: 500%" ></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Your Patient Management Solution</h5>
                <p class="card-text">Care Atlas allows you to securely store and manage patient data, ensuring easy access to critical information when needed. Say goodbye to paperwork hassles and embrace a digital future for healthcare administration</p>

              </div>
            </div>
          </div>
        </div>

        <div class=" mb-3 bg-primary text-light" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex flex-column justify-content-around align-items-center">
              <i class="bi bi-activity" style="font-size: 500%"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Advanced Analytics for informed Patient Care</h5>
                <p class="card-text">Gain valuable insights into patient health trends, track treatment outcomes, and make informed decisions to improve overall healthcare delivery.</p>
              </div>
            </div>
          </div>
        </div>

        <div class=" mb-3 bg-primary text-light" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex flex-column justify-content-around align-items-center">
              <i class="bi bi-lungs" style="font-size: 500%"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Enhancing Accuracy and Speed</h5>
                <p class="card-text">Our platform is designed to enhance accuracy and speed in data entry, enabling your staff to focus more on patient care and less on administrative tasks. Experience the efficiency of modern healthcare management.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col my-1 w-50 h-100 p-3">
        <div class="mx-5">
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary text-center" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {%endif%}
          {% block content %}
          {% endblock content%} 
        </div>
      </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>