{% extends 'users/base_2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="my-3 w-75 mx-auto">
        <h1 class="mb-3"><a href="{% url 'home-page' %}" class=" link-underline link-underline-opacity-0"><span class="display-1 fw-bolder text-primary fw-medium">CareAtlas</span></a></h1>
        <p class="text-secondary fs-3">Elevating Healthcare, One Data Point at a Time!</p>

        <h3 class="mb-3"><span class="text-primary fw-medium">Reset Password</span></h3>
    </div>
    <div class="fw-semibold fs-5">
        <form method="POST" action="#" class="w-75 mx-auto">
            {% csrf_token %}
            <div class="mb-3">
                <label for="InputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control border border-3 border-secondary" id="InputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">Enter your email address to reset your password</div>
            </div>
            <div class="row">
                <div class="col-8">
                    <button type="submit" class="btn btn-primary fw-bold btn-lg px-6 me-3">Request Password Reset</button>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'profile-page' %}" class="col"><button type="button" class="btn btn-primary btn-lg fw-bold me-3">cancel</button></a>
                {% else %}
                    <a href="{% url 'login' %}" class="col"><button type="button" class="btn btn-primary btn-lg fw-bold me-3">cancel</button></a>
                {% endif %}
            </div>
            <!-- <a href="{% url 'register' %}"><button type="button" class="btn btn-primary btn-lg fw-bold me-3">No Account? Register</button></a> -->
        </form>
    </div>
{% endblock content%}