{% extends 'users/base_2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="my-5 w-75 mx-auto">
        <h1 class="mb-3"><a href="{% url 'home-page' %}" class=" link-underline link-underline-opacity-0"><span class="display-1 fw-bolder text-primary fw-medium">CareAtlas</span></a></h1>
        <p class="text-secondary fs-3">Elevating Healthcare, One Data Point at a Time!</p>

        <p class="text-secondary fs-3 alert alert-info">An email has been sent with instructions to reset your password</p>
    </div>
{% endblock content%}