{% extends 'users/base_2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="my-5 w-75 mx-auto">
        <h1 class="mb-3"><span class="display-1 fw-bolder text-primary fw-medium">Reset Password</span></h1>
    </div>
    <!-- <div class="mt-5">
        <h4 class="fw-bold">Register With Us</h4>
    </div> -->
    <div class="fw-semibold fs-5">
        <form method="POST" action="" class="w-75 mx-auto">
            {% csrf_token %}
            <fieldset class="form-group mb-3">
                {{ form|crispy }}
            </fieldset>
            <button type="submit" class="btn btn-primary fw-bold btn-lg px-6 me-3">Reset Password</button>
        </form>
    </div>
{% endblock content%}