{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-light w-75 h-75 mx-auto mt-5 row rounded-4">
    <div class="col align-items-center ms-5">
            <h5 class="fw-bold text-center" style="font-size: 200%;">Profile</h5>
            <h5 class="mt-3 text-secondary">First Name</h5>
            <h5 class="border-bottom border-secondary-subtle border-3">{{user.first_name}}</h5>
    
            <h5 class="mt-3 text-secondary">Last Name</h5>
            <h5 class="border-bottom border-secondary-subtle border-3">{{user.last_name}}</h5>

            <h5 class="mt-3 text-secondary">Role</h5>
            <h5 class="border-bottom border-secondary-subtle border-3">{{user.hospitalprofile.role}}</h5>
    
            <h5 class="mt-3 text-secondary">Email</h5>
            <h5 class="border-bottom border-secondary-subtle border-3">{{user.email}}</h5>
    
            <h5 class="mt-3 text-secondary">Phone Number</h5>
            {% if  user.hospitalprofile.phone_number %}
                <h5 class="border-bottom border-secondary-subtle border-3">{{user.hospitalprofile.phone_number}}</h5>
            {% else %}
                <h5 class="border-bottom border-secondary-subtle border-3">None</h5>
            {% endif %}
    
            <h5 class="mt-3 text-secondary">Medical Facility</h5>
            <h5 class="borer-bottom border-secondary-subtle border-3">{{user.hospitalprofile.hospital_name}}</h5>
    </div>
    <div class="col text-center mt-3">
        <button type="button" class="px-2 border border-0 fw-bold fs-6 text-white bg-primary shadow-lg rounded-3 py-2" data-bs-toggle="modal" data-bs-target="#edit_profile"><i class="bi bi-person-fill-add me-3 text-white" style="font-size: 140%"></i>Update Profile</button>
        <a href="{% url 'password_reset' %}" class="fw-semibold mt-3"><button type="button" class="btn me-3 text-danger">change Password</button></a>
    </div>


    <!-- edit profile Modal-->
    <div class="modal fade modal-dialog-scrollable modal-lg" id="edit_profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content bg-body-secondary">
            <div class="modal-header">
                <h5 class="modal-title fs-5 text-primary fw-bold" id="exampleModalLabel">Update your Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit-profile-page' %}" class="w-75 mx-auto">
                {% csrf_token %}
                <div class="row mb-3 ">
                    <label for="" class="col-sm-3 col-form-label fw-semibold">Hospital</label>
                    <div class="col">
                        <select id="" class="form-select" name="hospital_name" required>
                            <option value="{{user.hospitalprofile.hospital_name}}">{{user.hospitalprofile.hospital_name}}</option>
                            {% for hosp in registered_hospitals %}
                                <option>{{hosp.hospital_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="first_name" class="col-sm-3 col-form-label fw-semibold">First Name</label>
                    <div class="col">
                      <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="last_name" class="col-sm-3 col-form-label fw-semibold">Last Name</label>
                    <div class="col">
                      <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="role" class="col-sm-3 col-form-label fw-semibold">Role</label>
                    <div class="col">
                        <select id="role" class="form-select" name="role" required>
                            <option value="{{user.hospitalprofile.role}}">{{user.hospitalprofile.role}}</option>
                            <option>Doctor</option>
                            <option>Nurse</option>
                            <option>Laboratory Technician</option>
                            <option>Pharmacist</option>
                            <option>Radiologist</option>
                            <option>Physical Therapist</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label fw-semibold">Email</label>
                    <div class="col">
                      <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="phone_number" class="col-sm-3 col-form-label fw-semibold">Phone No.</label>
                    <div class="col">
                      <input type="phone_number" class="form-control" id="phone_number" name="phone_number" value="{{user.hospitalprofile.phone_number}}">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary ms-2">Update</button>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        <!-- end model 1 -->
</div>
{% endblock content %}