{% extends 'users/base_2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="mb-5 w-75 mx-auto">
        <h1 class="mb-3"> <span class="fw-bolder">Register With </span><a href="{% url 'home-page' %}" class=" link-underline link-underline-opacity-0"><span class="display-1 fw-bolder text-primary fw-medium">CareAtlas</span></a></h1>
        <p class="text-secondary fs-3">Elevating Healthcare, One Data Point at a Time!</p>
    </div>
    <!-- <div class="mt-5">
        <h4 class="fw-bold">Register With Us</h4>
    </div> -->
    <div class="w-75 mx-auto">
        <form method="POST" action="#" class="fw-semibold">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label">Hospital Name</label>
                <select id="" class="form-select" name="hospital_name" required>
                    <option value="" disabled selected>Select Your Hospital</option>
                    {% for hosp in registered_hospitals %}
                        <option>{{hosp.hospital_name}}</option>
                    {% endfor %}
                </select>
            </div>
            {{ form1|crispy }}
            <button type="submit" class="btn btn-primary fw-bold btn-lg px-6 me-3 mt-4">Sign Up</button>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg me-3 mt-4 fw-bold">Have An Account? Login</button></a>
        </form>
    </div>
{% endblock content%}