{% extends 'base/base.html' %}
{% block content %}
    <div>
        <nav class="navbar bg-body-tertiary rounded-4">
            <div class="container-fluid">
              <a href=" {% url 'application-page' %} " class="link-underline link-underline-opacity-0"><span class="navbar-brand mb-0 h1 text-primary fw-bolder fs-3 ms-3">CareAtlas</span></a>
              <form class="d-flex w-75 my-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search Clients/Patients" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
        </nav>

        <div class="container  mt-4">
          <div class="row">
            {% for patient in patients %}
            <div class="col-3 mt-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title fw-semibold text-primary"><i class="bi bi-person-circle me-2"></i>{{patient.first_name}} {{patient.last_name}}</h5>
                  <h5 class="card-subtitle mb-2 text-body-secondary">{{patient.nationality}}, <span class="text-primary">{{patient.sex}}</span>, {{patient.age}}</h5>
                  <h5 class="fw-semibold">Born: <span class="fw-bold ">{{patient.date_of_birth}}</span></h5>
                  <h5 class="fw-semiold">Tel: <span class="fw-bold text-primary">{{patient.phone_number}}</span></h5>
                  <!-- <a href="#" class="card-link"><button class="btn btn-primary" type="submit">Medical Records</button></a> -->
                  <!-- <a href="#" class="card-link"><button class="btn btn-primary" type="submit">Bills</button></a> -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
{% endblock content %}