{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareAtlas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

</head>
<body>
<div class="">
  <div class="row justify-content-center">
    
    <div class="col-2 p-3 bg-body-secondary d-flex flex-column align-items-center justify-content-start mx-2 rounded-4 my-2">
      
      <div class="d-flex flex-column align-items-center mb-5">
        <i class="bi bi-person-fill text-primary" style="font-size: 600%"></i>
        <div class="card-body">
          <h5 class="card-title text-center fs-3 fw-bold"> {{ user.first_name }} </h5>
          <h5 class="card-title text-center fs-2 fw-semibold"> {{ user.hospitalprofile.hospital_name }} </h5>
        </div>
      </div>

      <div class="mt-5">
        <div class="d-grid gap-2 my-2">
          <a href="{% url 'application-page' 1 %}" class=" bg-primary py-2 rounded-3"><button class="border border-0 btn btn-light fw-bolder fs-6 bg-primary text-light" type="button"><i class="ms-0 bi bi-people-fill text-body-emphasis me-1" style="font-size: 190%"></i><span class="ms-2">Patients</span></button></a>

          <a href="{% url 'new-patient' %}" class="my-0"><button class="border border-0 btn btn-light fw-bolder fs-6 bg-body-secondary text-body-secondary" type="button"><i class="bi bi-person-fill-add text-body-emphasis me-3" style="font-size: 190%"></i>Add New Patient/Client</button></a>

          <a href="" class="my-0"><button class="border border-0 btn btn-light fw-bolder fs-6 bg-body-secondary text-body-secondary" type="button"><i class="bi bi-journal-text text-body-emphasis me-3" style="font-size: 190%"></i>Reports</button></a>

          <a href="" class="mt-0 mb-5"><button class=" border border-0 btn btn-light fw-bolder fs-6 bg-body-secondary text-body-secondary" type="button"><i class="bi bi-currency-exchange text-body-emphasis me-3" style="font-size: 190%"></i>Bills</button></a>
        </div>

        <div class="d-flex align-items-end mt-5">
          <a href="{% url 'logout' %}" class="mt-5"><button class="border border-0 btn btn-light fw-bolder fs-6 bg-primary-subtle rounded-4 text-body-secondary p-3" type="button"><i class=" bi bi-x-octagon-fill text-body-emphasis me-3" style="font-size: 160%"></i>Log Out</button></a>
        </div>
      </div>
    </div>
    
    <div class="col-7 p-3 bg-body-secondary my-2 rounded-4">
      {% block content %}
      {% endblock content%}
    </div>

    <div class="col-2 p-3 bg-body-secondary mx-2 my-2 rounded-4">
      <div>
        <h1 class="display-5 mt-5 text-light fw-bold bg-primary p-4 rounded-4">{{ day }},{{ day_of_month }}</h1>
      </div>
      <div>
        <h1 class="display-5 ms-4 text-primary fw-bold">{{month}}, <span class="display-5 fw-bold text-dark">{{year}}</span></h1>
      </div>
    </div>

  </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>