{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareAtlas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

</head>
<body>
  <div class="row justify-content-center h-100">
    <div class="col-2 p-3 bg-body-secondary d-flex flex-column align-items-start justify-content-start mx-1 rounded-4 my-2">
 
        <div class="d-flex flex-column mt-5 mb-5 text-center w-75 mx-auto border border-primary border-5 rounded-5 p-4 shadow-lg">
          <a href="{%url 'application-home' %}" class="link-underline link-underline-opacity-0">
            <i class="bi bi-person-fill text-primary" style="font-size: 600%"></i>
            <div class="card-body">
              <h2 class="card-title fw-bold">{{ user.first_name }} </h2>
              <h4 class="card-title text-secondary fw-bold">{{ user.hospitalprofile.hospital_name }} </h4>
            </div>
          </a>
        </div>

      <div class="mt-4 mx-auto">
        <div class="d-flex flex-column">

          <a href="{%url 'application-home' %}" class="border border-0 ps-3 pe-3 fw-bold fs-4 text-white mb-3 bg-primary w-100 shadow-lg rounded-3 py-3 link-underline link-underline-opacity-0" ><i class="bi bi-house-fill me-3 text-white" style="font-size: 140%"></i>Home Page</a>

          <a href="{% url 'application-page' 1 %}" class="border border-0 ps-3 pe-3 fw-bold fs-4 text-white bg-primary w-100 shadow-lg rounded-3 py-3 mb-3 link-underline link-underline-opacity-0" ><i class="text-white bi bi-people-fill me-3" style="font-size: 140%"></i>Patients</a>

          <a href="{% url 'records-page' 1 %}" class="border border-0 ps-3 pe-3 fw-bold fs-4 text-white mb-3 bg-primary w-100 shadow-lg rounded-3 py-3 link-underline link-underline-opacity-0" ><i class="bi bi-receipt text-white me-3" style="font-size: 140%"></i>Records</a>

          <a href="{% url 'bills-page' 1 %}" class="border border-0 ps-3 pe-3 fw-bold fs-4 text-white mb-3 bg-primary w-100 shadow-lg rounded-3 py-3 link-underline link-underline-opacity-0" ><i class="bi bi-receipt text-white me-3" style="font-size: 140%"></i>Bills</a>
        </div>
      </div>

      <!-- <div class="d-flex align-items-end mt-5">
        <a href="{% url 'logout' %}" class="border border-0 btn btn-light fw-bold fs-6 rounded-4 text-secondary p-3 ms-3" type="button"><i class=" bi bi-backspace-fill text-body-emphasis me-3" style="font-size: 150%"></i>Log Out</a>
      </div> -->
    </div>
    

    
    <div class="col-7 p-3 bg-body-secondary my-2 rounded-4">
      <nav class="navbar bg-body-tertiary rounded-4 shadow-lg mb-4">
        <div class="container-fluid">
          <a href="{%url 'application-home' %}" class="link-underline link-underline-opacity-0"><span class="navbar-brand mb-0 h1 text-primary fw-bolder fs-3 ms-3">CareAtlas</span></a>
          <form class="d-flex w-75 my-auto" role="search" action="{% url 'search-page' 1 %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="text" placeholder="Search Clients/Patients" aria-label="Search" name="search_string" value="{{search_text}}">
            <button class="btn btn-primary shadow-lg fw-bold" type="submit">Search</button>
          </form>
        </div>
      </nav>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-primary text-center my-2" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {%endif%}

      {% block content %}
      {% endblock content%}
      
    </div>

    <div class="col-2 p-3 bg-body-secondary mx-1 my-2 rounded-4 text-center">
      <a href="{% url 'logout' %}" class="border border-3 border-dark btn btn-light fw-bold fs-6 rounded-4 text-secondary p-3 shadow-lg mt-5 w-75" type="button"><i class=" bi bi-backspace-fill text-body-emphasis me-3" style="font-size: 150%"></i>Log Out</a>
      <div>
        <h1 class="display-5 mt-5 text-light fw-bold bg-primary p-4 rounded-4 shadow-lg w-75 mx-auto">{{ day }}, {{ day_of_month }}</h1>
      </div>
      <div>
        <h1 class="display-5 ms-4 text-primary fw-bold">{{month}}, <span class="display-5 fw-bold text-dark">{{year}}</span></h1>
      </div>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <script>
      const ctx = document.getElementById('myChart');
      var last_six_months = '{{last_six_months}}';
      var client_totals = '{{client_totals}}';
      var cts = JSON.parse(client_totals)

      var encodedJsonString = last_six_months;
      var tempElement = document.createElement('div');
      tempElement.innerHTML = encodedJsonString;
      var decodedJsonString = tempElement.textContent;
      var lst = JSON.parse(decodedJsonString);



      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: lst,
          datasets: [{
            label: 'Client Count',
            data: cts,
            borderWidth: 1,
            barThickness: 45,
            borderRadius: 5,
            backgroundColor: 'rgba(255,0,0)',
          }]
        },
        options: {
          plugins: {
            legend: {
              labels: {
                font: {
                  size: 25,
                  weight: 'bold'
                }
              }
            }
          },
          tooltips: {
            enabled: false,
          },
          scales: {
            y: {
              ticks: {
                font: {
                  size: 18,
                }
              },
              grid: {
                display: false, // hide x-axis grid lines
            },
              beginAtZero: true
            },
            x: {
              ticks: {
                font: {
                  size: 15,
                }
              },
              grid: {
                display: false,
              }
            }
          }
        }
      });
    </script> 

</body>
</html>