{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <nav class="navbar bg-body-tertiary rounded-4">
        <div class="container-fluid">
          <a href=" {% url 'application-page' %} " class="link-underline link-underline-opacity-0"><span class="navbar-brand mb-0 h1 text-primary fw-bolder fs-3 ms-3">CareAtlas</span></a>
          <form class="d-flex w-75 my-auto" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Clients/Patients" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>

    </nav>
</div>

<div class="w-50 mx-auto">
    <h1 class="display-5  mb-5 text-primary fw-bold mt-5"><i class="bi bi-person-fill-add me-3"></i>New Patient</h1>
</div>

<div class="">
    <form class="row mx-auto bg-primary-subtle p-4 rounded-4 g-3 w-50">
        {% csrf_token %}
        <div class="col-md-6">
          <label for="" class="form-label">First Name</label>
          <input type="text" class="form-control" id="" name="first_name" required>
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">Last Name</label>
          <input type="password" class="form-control" id="" name="last_name" required>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Sex</label>
            <select id="" class="form-select" required>
              <option>Male</option>
              <option>Female</option>
              <option>Complicated</option>
            </select>
          </div>
        <div class="col-12">
          <label for="i" class="form-label">Nationality</label>
          <input type="text" class="form-control" id="" placeholder="" name="nationality">
        </div>
        <div class="col-12">
            <label for="" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="" placeholder="" name="phone_number" required>
        </div>            
        <div class="col-12">
            <label for="i" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="" placeholder="" name="date_of_birth" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary fw-bold fs-5 p-2 mt-2">Save Patient</button>
        </div>
      </form>
</div>
{% endblock content %}