{% extends 'base/base.html' %}
{% block content %}
<div class="row">
  <div class="col mt-4"><a type="submit" class="btn btn-secondary ms-2 fw-bold" href="{% url 'medical-record-page' patient.id record.id %}">Medical Record Page</a></div>
  <div class="col-9 mt-4 mx-auto bg-white rounded-4 p-5">
    <div class="row">
      <div class="col-8">
        <h3 class="fw-bold">Medical Bill</h3>
      </div>
      <div class="col">
        <h3><span class="text-secondary fw-bold">{{bill.date_added}}</span></h3>
      </div>
    </div>

    <div class="row mb-3">
        <p class="col fw-medium"><i class="bi bi-alarm-fill me-1"></i>{{bill.time_added}}</p>
        <p class="col fw-medium"><i class="bi bi-person-lines-fill me-1"></i>{{bill.doctor.first_name}} {{bill.doctor.last_name}}</p>
        <p class="col-4 fw-medium"><i class="bi bi-hospital-fill me-1"></i>{{bill.doctor.hospitalprofile.hospital_name}}</p>
    </div>

    <div class="row">
      <div class=" col-6 d-flex">
        <div class="">
          <h2 class="text-black fw-medium"><i class="bi bi-person-circle me-3"></i>{{patient.first_name}} <span class="text-primary">{{patient.last_name}}</span></h2>
          <h5 class="my-1 fw-medium text-body-secondary">{{patient.nationality}}  {{patient.sex}}  {{patient_age}}</h5>
          <h5 class="my-1 fw-medium text-primary"><i class="bi bi-telephone-fill me-2 text-black"></i>{{patient.phone_number}}</h5>
        </div>
      </div>
     </div>

    <div class="my-2 mx-5">
        <table class="table table-bordered border-black mt-5">
            <thead>
              <tr class="table-primary text-center">
                <th scope="col">No.</th>
                <th scope="col">Items</th>
                <th scope="col">Description</th>
                <th scope="col">Ammount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Professional Fees</td>
                <td>Doctor Consultation</td>
                <td>{{bill.consultation_fees}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Investigations / Lab Tests</td>
                <td>
                  {% for test in test_list_filtered %}
                    <p>{{test}}</p>
                  {% endfor %}
                </td>
                <td>
                  {% for cost in test_cost_list_filtered %}
                    <p>{{cost}}</p>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Nursing Care</td>
                <td>patient assessment, medication administration, patient monitoring, emergency response, IV therapy, pain management, etc</td>
                <td>{{bill.nursing_care_fees}}</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Medication and Treatments</td>
                <td>
                  <p>Medication</p>
                  <p>Surgery</p>
                  <p>Therapy</p>
                </td>
                <td>
                  {% for fee in medication_fees_list %}
                    <p>{{fee}}</p>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Other Specific Charges</td>
                <td><p>{{bill.specific_charges}}</p></td>
                <td>{{bill.specific_charge_fees}}</td>
              </tr>
              <tr class="table-primary fw-bold">
                <th scope="row"></th>
                <td>Total Ammount</td>
                <td></td>
                <td>{{bill.total_charges}}</td>
              </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-4"><a type="submit" class="btn btn-primary fw-bold" href="{% url 'medical-record-page' patient.id record.id %}">Medical Record Page</a></div>
            <div class="col-4"></div>
            <div class="col"><button type="submit" class="btn text-primary fw-bold fs-5" data-bs-toggle="modal" data-bs-target="#editbill">Edit Bill</button></div>
            <div class="col"><button type="submit" class="btn text-primary fw-bold fs-5">Print Bill</button></div>
        </div>


        <!-- Modal 1-->
        <div class="modal fade modal-dialog-scrollable modal-lg" id="editbill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
            <div class="modal-content bg-body-secondary">
                <div class="modal-header">
                <h1 class="modal-title fs-5 text-primary fw-bold" id="exampleModalLabel">Edit Patient Bill</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'edit-patient-bill' patient.id record.id bill.id%}" class="mx-5 mt-4">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="dcf" class="col-sm-4 col-form-label fw-semibold">Doctor Consultation Fees</label>
                            <div class="col-sm-6">
                            <input type="number" class="form-control" id="dcf" name="consultation_fees" value={{bill.consultation_fees}} placeholder="Enter Ammount" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="dt" class="col-sm-4 col-form-label fw-semibold">Diagnostic Tests </label>
                            <div class="col-sm-6">

                              <!-- tests and costs -->
                              <div class="row my-1">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Test 1" aria-label="Test" name="test_1" value="{{test_1}}">
                                </div>
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="Cost" aria-label="Cost" name="test_cost_1" value="{{test_cost_1}}">
                                </div>
                              </div>

                              <div class="row my-1">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Test 2" aria-label="Test" name="test_2" value="{{test_2}}">
                                </div>
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="Cost" aria-label="Cost" name="test_cost_2" value="{{test_cost_2}}">
                                </div>
                              </div>

                              <div class="row my-1">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Test 3" aria-label="Test" name="test_3" value="{{test_3}}">
                                </div>
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="Cost" aria-label="Cost" name="test_cost_3" value="{{test_cost_3}}">
                                </div>
                              </div>

                              <div class="row my-1">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Test 4" aria-label="Test" name="test_4" value="{{test_4}}">
                                </div>
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="Cost" aria-label="Cost" name="test_cost_4" value="{{test_cost_4}}">
                                </div>
                              </div>

                              <div class="row my-1">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Test 5" aria-label="Test" name="test_5" value="{{test_5}}">
                                </div>
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="Cost" aria-label="Cost" name="test_cost_5" value="{{test_cost_5}}">
                                </div>
                              </div>
                              <!-- end of tests and costs -->
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nc" class="col-sm-4 col-form-label fw-semibold">Nursing Care</label>
                            <div class="col-sm-6">
                            <input type="number" class="form-control" id="nc" name="nursing_care_fees" value={{bill.diagnostic_test_fees}} placeholder="Enter Ammount" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                          <label for="mf" class="col-sm-4 col-form-label fw-semibold">Medication Fees</label>
                          <div class="row mb-3">
                            <label for="md" class="col-sm-4 col-form-label text-center">Medical</label>
                            <div class="col-sm-6">
                              <input type="number" class="form-control" id="md" placeholder="Fees for any Medications Given" name="md_fees" value="{{medication_fees_dict.meds}}">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="sg" class="col-sm-4 col-form-label text-center">Surgical</label>
                            <div class="col-sm-6">
                              <input type="number" class="form-control" id="sg" placeholder="Fees for any Surgical Treatments Given" name="sg_fees" value="{{medication_fees_dict.surg}}">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="th" class="col-sm-4 col-form-label text-center">Therapy</label>
                            <div class="col-sm-6">
                              <input type="number" class="form-control" id="th" placeholder="Fees for any Therapy Treatments Given" name="th_fees" value="{{medication_fees_dict.ther}}">
                            </div>
                          </div>
                        </div>
                        <div class="row mb-5">
                            <label for="of" class="col-sm-4 col-form-label fw-semibold mt-3">Other Fees</label>
                            <div class="col-sm-6">
                            <input type="text" class="form-control my-2" id="oft" name="specific_charges" placeholder="Specify Items Charged For" value='{{bill.specific_charges}}'>
                            <input type="number" class="form-control" id="of" name="specific_charge_fees" value={{bill.specific_charge_fees}} placeholder="Enter Ammount" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary me-2 fw-bold" href="#" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary ms-2 fw-bold">Update Bill</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
      <!-- end model 1 -->
    </div>   
  </div>
  <div class="col"></div>
</div>

{% endblock content %}