{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <nav class="navbar bg-body-tertiary rounded-4">
            <div class="container-fluid">
              <a href=" {% url 'application-page' %} " class="link-underline link-underline-opacity-0"><span class="navbar-brand mb-0 h1 text-primary fw-bolder fs-3 ms-3">CareAtlas</span></a>
              <form class="d-flex w-75 my-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search Clients/Patients" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>

        </nav>
    </div>
    
{% endblock content %}