{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <!-- Modal 1-->
    <div class="modal fade modal-dialog-scrollable modal-lg" id="addvitals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content bg-body-secondary">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-primary fw-bold" id="exampleModalLabel">New Patient Vitals</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'new-patient-vital' patient.id %}" class="mx-5">
              {% csrf_token %}
              <div class="row mb-3">
                <label for="temperature" class="col-sm-2 col-form-label fw-semibold">Temperature</label>
                <div class="col-sm-10">
                  <input type="number" step="0.01" class="form-control" id="temperature" name="temperature" value="">
                </div>
              </div>
              <div class="row mb-3">
                <label for="weight" class="col-sm-2 col-form-label fw-semibold">Weight (kg)</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="weight" name="weight" value="None">
                </div>
              </div>
              <div class="row mb-3">
                <label for="pulse" class="col-sm-2 col-form-label fw-semibold">Heart Rate (bpm)</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="pulse" name="pulse" value="None">
                </div>
              </div>
              <div class="row mb-3">
                <label for="bp_sys" class="col-sm-2 col-form-label fw-semibold">Systolic BP</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="bp_sys" name="systolic_blood_pressure" value="None">
                </div>
              </div>
              <div class="row mb-3">
                <label for="bp_dias" class="col-sm-2 col-form-label fw-semibold">Diastolic BP</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="bp_dias" name="diastolic_blood_pressure" value="None">
                </div>
              </div>
              <div class="row mb-3">
                <label for="o2" class="col-sm-2 col-form-label fw-semibold">Oxygen Saturation</label>
                <div class="col-sm-10">
                  <input type="number" step="0.01" class="form-control" id="o2" name="oxygen_saturation" value="">
                </div>
              </div>
              <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary ms-2">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end model 1 -->

    <!-- Modal 2-->
    <div class="modal fade modal-dialog-scrollable modal-lg" id="new_medical_record" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content bg-body-secondary">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-primary fw-bold" id="exampleModalLabel">New Medical Record</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'new-patient-record' patient.id %}" class="mx-5">
              {% csrf_token %}

              <!-- clinical summary -->

              <div class="mb-3">
                <label for="sas" class="form-label fw-medium">Medical History</label>
                <textarea class="form-control" id="sas" rows="3" name="medical_history" placeholder="Enter brief medical history of patient"></textarea>
              </div>

              <div class="mb-3">
                <label for="sas" class="form-label fw-medium">Surgical History</label>
                <textarea class="form-control" id="sas" rows="3" name="surgical_history" placeholder="Enter patient surgical history of patient if any"></textarea>
              </div>

              <div class="mb-3">
                <label for="sas" class="form-label fw-medium">GYN / OBS History</label>
                <textarea class="form-control" id="sas" rows="3" name="gyn_obs_history" placeholder="Enter Patient GYN / OBS History"></textarea>
              </div>

              <div class="mb-3">
                <label for="sas" class="form-label fw-medium">Family Medical History </label>
                <textarea class="form-control" id="sas" rows="3" name="family_history" placeholder="Enter patient family medical history"></textarea>
              </div>

              <div class="mb-3">
                <label for="sas" class="form-label fw-medium">Social History / Lifestyle</label>
                <textarea class="form-control" id="sas" rows="3" name="social_history" placeholder="Enter patient social history"></textarea>
              </div>

              <!-- End of clinical summary -->

              <div class="mb-3">
                <label for="sas" class="form-label fw-medium">Signs and Symptoms (History of Presenting Complaints)</label>
                <textarea class="form-control" id="sas" rows="3" name="signs_and_symptoms" placeholder="Enter present signs and symptoms of the patient" required></textarea>
              </div>

              <div class="mb-3">
                <label for="tdf" class="form-label fw-medium">Impressions / Diagnosis:</label>
                <textarea class="form-control" id="tdf" rows="3" placeholder="please enter diseases or disorders being tested for based on the signs and symptoms mentioned" name="impressions"></textarea>
              </div>

              <div class="mb-3">
                <label for="tmu" class="form-label fw-medium">Investigations / Lab tests to be Conducted</label>
                <textarea class="form-control" id="tmu" rows="3" name="investigations" placeholder="Please enter the investigations or lab tests to be conducted"></textarea>
              </div>

              <div class="mb-3 row">
                <div class="col-8"></div>
                <button type="submit" formaction="{% url 'order-tests' patient.id %}" class="btn col btn-primary shadow-lg">Order Tests</button>
              </div>

              <div class="mb-3">
                <label for="tr" class="form-label fw-medium">Test Results</label>
                <textarea class="form-control" id="tr" rows="3" name="test_results" placeholder="Please Enter Test Results and/or Conclusion from Medical Diagnosis"></textarea>
              </div>

              <div class="mb-3">
                <label for="cc" class="form-label fw-medium">Conclusions</label>
                <textarea class="form-control" id="cc" rows="3" name="conclusions" placeholder="Please Enter Test Results and/or Conclusion from Medical Diagnosis" ></textarea>
              </div>

              <div class="mb-3">
                <label for="mm" class="form-label fw-medium">Management</label>
                <textarea class="form-control" id="mm" rows="3" name="management" placeholder="Please Enter Treatments and Prescriptions given To Patient" ></textarea>
              </div>

              <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-secondary me-2 shadow-lg" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary ms-2 shadow-lg fw-semibold">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


        <!-- Modal 3-->
        <div class="modal fade modal-dialog-scrollable modal-lg" id="patient_profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="false">
          <div class="modal-dialog">
            <div class="modal-content bg-body-secondary">
              <div class="modal-header">
                <h1 class="modal-title fs-3 text-primary fw-bold" id="exampleModalLabel">Patient Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col text-center">
                    <h1><i class="bi bi-person-circle"></i></h1>
                    <h2>{{patient.first_name}} {{patient.last_name}}</h2>
                    <h3 class="text-body-secondary">{{patient.nationality}} {{patient.sex}} {{patient.patient_age}}</h3>
                  </div>

                  <div class="card rounded-3 col bg-body-secondary border border-0">
                    <div class="card-body">
                      <h4 class="card-title">Contact: <span class="card-subtitle mb-2 text-primary">{{patient.phone_number}}</span></h4>
                      <h4 class="card-title">Address: <span class="card-subtitle mb-2 text-primary">{{patient.address}}</span></h4>
                      <h4 class="card-title">Religion: <span class="card-subtitle mb-2 text-primary">{{patient.religion}}</span></h4>                  
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="card rounded-3 col w-25 bg-body-secondary border border-0">
                    <div class="card-body">
                      <h4 class="card-title">Next of Kin</h4>
                      <h5 class="card-subtitle mb-2 text-primary">{{patient.next_of_kin}}</h5>
                    </div>
                  </div>
                  <div class="card rounded-3 col w-25 bg-body-secondary border border-0">
                    <div class="card-body">
                      <h4 class="card-title">Next of Kin's Contact</h4>
                      <h5 class="card-subtitle mb-2 text-primary">{{patient.next_of_kin_contact}}</h5>
                    </div>
                  </div>
              </div>

              </div>
            </div>
          </div>
        </div>
        <!-- end model 3 -->


  <!-- patient details section -->
  <div class="d-flex justify-content-center">
    <div class="">
      <button class="btn"><h2 class="mb-1 text-black fw-bold" data-bs-toggle="modal" data-bs-target="#patient_profile"><i class="bi bi-person-circle me-3"></i>{{patient.first_name}} <span class="text-primary">{{patient.last_name}}</span></h2></button>
      <h5 class="my-1 fw-medium text-body-secondary">{{patient.nationality}}  {{patient.sex}}  {{patient_age}}</h5>
      <h5 class="my-1 fw-medium text-body-secondary">Born: <span class="text-primary">{{patient.date_of_birth}}</span></h5>
      <h5 class="my-1 fw-medium text-primary"><i class="bi bi-telephone-fill me-2"></i>{{patient.phone_number}}</h5>
    </div>
  </div>


  <!-- Vitals section -->
  <div class="mt-3">
    <div class="row">
      <div class="col-4"><h4 class="fw-bold">Vitals History</h4></div>
      <div class="col-3"></div>
      <div class="col-5"><button type="button" class="btn text-primary fs-5 px-5 fw-bold" data-bs-toggle="modal" data-bs-target="#addvitals"><i class="bi bi-plus-square-fill me-2 text-black fs-4"></i>Add New Vitals</button></div>
    </div>

    <div class="container mt-3">
      <div class="row">
        {% for vital in vitals %}
        <div class="col bg-primary-subtle m-3 py-3 rounded-4 border border-2 border-primary shadow-lg" style="max-width: 20%;">
          <div class="row">
            <div class="col-8">
              <h6 class=""><i class="bi bi-calendar3-week-fill text-primary me-1"></i>{{vital.date_added}}</h6>
            </div>

            {%if user == vital.doctor%}
            <div class="col-2"><a class="text-primary fw-bold link-underline link-underline-opacity-0" href="{% url 'edit-vitals-record' patient.id vital.id %}">Edit</a></div>
            {%endif%}
          </div>
          <h4 class="ps-2"><span class="h3">{{vital.systolic_blood_pressure}}</span> / {{vital.diastolic_blood_pressure}} <span class="text-primary fs-6">mmHg</span></h4>
          <h5 class="ps-2">{{vital.weight}}<span class="text-primary fs-6">kg</span>  {{vital.temperature}}<i class="bi bi-thermometer-high text-primary"></i>  {{vital.pulse_bpm}}<span class="text-primary fs-6">bpm</span></h5>
          {% if vital.oxygen_saturation %}
            <h5 class="ms-2">{{vital.oxygen_saturation}}<span class="text-primary"> % (spO2)</span></h5>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <a type="button" class="btn btn-primary mt-2 ms-3 fw-semibold shadow-lg" href="{% url 'patient-vitals-page' patient.id %}">All Vitals Records</a>
  </div>


  <!-- medical history section -->
  <div>
    <div class="container mt-5 mb-3">
      <div class="row">
        <div class="col-4"><h4 class="fw-bold">Medical History</h4></div>
        <div class="col-3"></div>
        <div class="col-5"><a class="btn fs-4 px-5 fw-bold text-primary" data-bs-toggle="modal" data-bs-target="#new_medical_record" href="#" role="button"><i class="bi bi-plus-square-fill me-2 text-black"></i>New Medical Record</a></div>
      </div>
    </div>

    {% for record in medical_records %}
    <div class="card w-100 h-15 mb-3 mx-auto rounded-4 shadow-lg border border-2 border-secondary">
      <div class="card-body">
        <div class="row pt-2">
          <h5 class="card-title col">{{record.date_added}}</h5>
          <p class="col fw-medium"><i class="bi bi-alarm-fill me-1"></i>{{record.time_added}}</p>
          <p class="col fw-medium"><i class="bi bi-person-lines-fill me-1"></i>{{record.doctor.first_name}}</p>
          <p class="col-4 fw-medium"><i class="bi bi-hospital-fill me-1"></i>{{record.doctor.hospitalprofile.hospital_name}}</p>
          
          {% if user == record.doctor %}
            <a type="button" class="btn col fw-bold text-primary me-4" href="{% url 'edit-patient-record' patient.id record.id %}">Edit</a>
          {% endif %}
        </div>

        <ul class="">
          <li class="list-group-item"><span class="fw-bold">Signs and Symptoms: </span>{{record.signs_and_symptoms}}</li>
          <li class="list-group-item"><span class="fw-bold">Impressions: </span>{{record.impressions}}</li>
          <li class="list-group-item"><span class="fw-bold">Investigations: </span>{{record.investigations}}</li>
          <li class="list-group-item"><span class="fw-bold">Results: </span>{{record.test_results}}</li>
          <li class="list-group-item"><span class="fw-bold">Conclusions: </span>{{record.conclusions}}</li>
          <li class="list-group-item"><span class="fw-bold">Management: </span>{{record.management}}</li>
        </ul>
        <a class="btn btn-primary col fw-semibold mx-4 shadow-lg" href="{% url 'medical-record-page' patient.id record.id %}">View in Detail</a>
      </div>
    </div>
    {% endfor %}
  </div>

</div>  
{% endblock content %}